@import "new-reset.css" screen;
@font-face {
    font-family: readoutFont;
    src: url(/resources/LEDBOARD.TTF) format('truetype');
}
  h1{
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    margin-top: 15%;
    letter-spacing: 0.15em;
  }


body {
    background-color:rgb(23, 23, 23);
    color: lightgreen;
    font-size: x-large;
}

button {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: none;
    /* opacity: 50%; */
}

#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51.6%, -45%);
}

#buttons li {
    display: inline;
    padding-left: 10px;
    border: 2px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-family: monospace;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;;
    opacity: 0.9;
    font-weight: 300;
    opacity: .7;
}

#readout {
    font-family: readoutFont, monospace;
    font-size: 58px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-52%, -85%);
    border: 3px;
    border-style: inset;
    border-color: black;
    z-index: 9;
    height:max-content;

}

#stopwatch{
z-index: 1;

}
#start{
    background-color: green;
}

#stop{
    background-color: orangered;
}

#reset{
    background-color: gray;
}

#buttons li:hover {
    /* font-weight: lighter; */
    border-style: inset;
    opacity: 1;
    color: white;
}