@import "new-reset.css" screen;
@font-face {
    font-family: readoutFont;
    src: url(/resources/LEDBOARD.TTF);
}
  

body {
    background-color: darkslategray;
    color: lightgreen;
    font-size: larger;
}

button {
    width: 100px;
    height: 30px;
    border: 3px solid white;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}


#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51.6%, -45%);
}

#buttons li {
    display: inline;
    padding-left: 10px;
}


#readout {
    font-family: readoutFont, monospace;
    font-size: 58px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
}