@import "new-reset.css" screen;
@font-face {
    font-family: readoutFont;
    src: url(/resources/LEDBOARD.TTF);
}
  h1{
    text-align: center;
  }


body {
    background-color: darkslategray;
    color: lightgreen;
    font-size: x-large;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

#buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51.6%, -45%);
}

#buttons li {
    display: inline;
    padding-left: 10px;
    border: 4px;
    border-style: outset;
    border-color: black;
    text-align: center;
    font-family: monospace;
}

#readout {
    font-family: readoutFont, monospace;
    font-size: 58px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -85%);
    border: 4px;
    border-style: inset;
    border-color: black;
}

#stopwatch{
    background-color: blueviolet;
    border: 1px black;
    z-index: 2;
}
#start{
    background-color: green;
}

#stop{
    background-color: orangered;
}

#reset{
    background-color: gray;
}